:root {
    --bg-color: #1b244b;
    --score-color: #F94F6D;
    --score-title-color: #EEEEEE;
    --score-button-color: #9AABD8;
}

@font-face {
    font-family: "Cursed Timer";
    src: url("./fonts/CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

h3 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-container {
    display: flex;
    flex-direction: column;
}

.score-title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--score-title-color);
    
}

.score {
    background-color: black;
    color: var(--score-color);
    width: 155px;
    height: 120px;
    font-size: 90px;
    padding-top: 25px;
    text-align: center;
    font-family: "Cursed Timer";
    border-radius: 5px;
}

.score-buttons {
    margin: 26px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.score-button {
    width: 45px;
    height: 45px;
    background-color: var(--bg-color);
    font-family: 'Cursed Timer';
    color: var(--score-button-color);
    border: 2px solid var(--score-button-color);
    border-radius: 5px;
    font-size: 18px;
}

.score-button:hover {
    color: var(--bg-color);
    background-color: var(--score-button-color);
}